*
details.addEventListener("toggle", event => {
  if (details.open) {
    /* the element was toggled open */
  } else {
    /* the element was toggled closed */
  }
});

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.container
{
	width: auto;
	height: auto;
	background: linear-gradient(to bottom right, #9c2a1e, #d46211);
	padding: 25px 30px;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.title
{
  font-size: 40px;
  font-weight: bold;
  position: relative;
  font-family: century gothic;
  color:white;
  margin-top: 50px;
  margin-left: 80px;
  margin-bottom:2px;
}
.subtitle
{
  font-size: 30px;
  font-weight: bold;
  position: relative;
  font-family: century gothic;
  color:black;
  margin-left: 80px;
  margin-bottom:50px;
}

.foot1
{
  font-size: 20px;
  font-weight: 500;
  position: relative;
  font-family: century gothic;
  color:white;
  margin-left: 180px;
}
.foot2
{
  font-size: 20px;
  font-weight: 500;
  position: relative;
  font-family: century gothic;
  color:white;
  margin-left: 180px;
  margin-bottom: 50px;
}

details {
  font:20px century gothic;
  width: 620px;
  margin-left: 180px;
  padding: 10px;
  border-radius: 5px;
  color: black;

}

details > summary {
  padding: 10px;
  padding-left:30px;
  width: 700px;
  background-color:rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: justify;
  margin-bottom: 10px;
  
}

details .faq
{
  background-color: transparent;
  padding: 5px;
  margin: 0;
  width: 1500px;
  color:white;
  font-size: 15px;
   margin-left:10px;
}

details .list
{
  background-color: transparent;
  padding: 5px;
  margin: 0;
  width: 1000px;
  color:white;
  font-size: 15px;
  margin-left:50px;
}


details[open] > summary {
  background-color: white;
}
}